@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$text: 'Roboto';

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {

    &__set {
        padding: 17px 0px;
        background: #EFEFEF;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

    &__item {

        a {
            text-decoration: none;
            font-family: $text;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #333333;
        }

        a:hover {
            color: orange;
        }
    }

}

.header {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #EFEFEF;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
            font-family: $text;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.1em;
            color: #F13C6E;
        }
    }

    &__search {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 10px;
            left: 20px;
            width: 20px;
            height: 20px;
            background: url(/img/search.svg);
        }

        input {
            width: 250px;
            padding-left: 50px;
            height: 40px;
            border: none;
            border-radius: 40px;
            background: #EFEFEF;

        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        span {
            font-family: $text;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }

        &__button {
            font-family: $text;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            background: transparent;
            border: 2px solid #F13C6E;
            border-radius: 40px;
            padding: 12px 27px;
            cursor: pointer;
            transition: 0.3s;
        }

        &__button:hover {
            background: #F13C6E;
            color: #FFFFFF;
        }
    }

    &__nav {
        padding: 30px 0;
    }

    &__nav__item {
        a {
            text-decoration: none;
            font-family: $text;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }

        a:hover {
            text-decoration: underline;
        }

    }
}

.hero {
    background: #f13c6e;
    overflow: hidden;
    max-height: 604px;

    &__content {
        max-width: 308px;
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin: 0;
        font-family: $text;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #ffffff;
        margin-bottom: 50px;
    }

    &__text {
        margin: 0;
        font-family: $text;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        margin-bottom: 50px;
    }

    &__btn {
        font-family: $text;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #ffffff;
        padding: 13px 35px;
        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.3s;
    }

    &__btn:hover {
        background: #ffffff;
        color: #F13C6E
    }

    &__armchair {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            position: relative;
            z-index: 5;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 677px;
            height: 677px;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 100%;
        }

        &::before {
            content: "";
            position: absolute;
            top: -100px;
            left: 50%;
            transform: translateX(-50%);
            width: 859px;
            height: 859px;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 100%;
        }
    }
}

.goods {
    padding: 80px 0 100px 0;
    background: #EFEFEF;

    &__container {
        display: flex;
        justify-content: space-between;

    }

    h2 {
        font-family: $text;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }

    &__item {
        margin-top: 38px;
        height: 363px;
        width: 255px;
        background: white;
    }

    &__img {
        padding: 23px 65px;
    }

    &__desc {
        font-family: $text;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #333333;
    }

    &__price {
        height: 18px;
        margin-top: 20px;
        font-family: $text;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }

    &__btn {
        margin: 20px 62px;
        background: #F13C6E;
        border-radius: 30px;
        color: #ffffff;
        padding: 9px 40px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
    }

    &__btn:hover {
        background: #FF69B4;
    }
}

.presents {
    background: #EFEFEF;
    padding-bottom: 100px;
}

.presents__container {
    display: flex;
    justify-content: space-between;
}

.bonuses {
    display: flex;
    justify-content: space-between;
    background: #F13C6E;
    max-width: 540px;
    padding: 45px 45px 35px 40px;
    gap: 65px;
    align-items: center;

    &__descr {
        max-width: 250px;

        h4 {
            font-family: $text;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            margin-bottom: 25px;
        }

        p {
            font-family: $text;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            margin-bottom: 25px;
        }

        button {
            background: #F13C6E;
            border: 2px solid #FFFFFF;
            border-radius: 30px;
            padding: 9px 28px;
            color: white;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #ffffff;
            color: #F13C6E;
        }
    }

    &__input {
        background: #FFFFFF;
        border-radius: 30px;
        border: none;
        padding: 9px 0 9px 25px;
    }
}

.impuls {
    background: #EFEFEF;
    padding-bottom: 80px;

    &__item {
        padding: 35px 61px;
        border: 1px solid #EFEFEF;
    }

    &__item:hover {
        transform: scale(1.1);
        border: none;
    }
}

.impuls__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: white;
    padding: 0;
}

.recently__viewed {
    background: #EFEFEF;
    padding-bottom: 80px;

    h2 {
        font-family: $text;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;

    }
}

.popular {
    display: flex;
    align-items: center;
    padding: 60px 0;
    gap: 35px;

    &__categ {
        min-width: 255px;

        &__title {
            padding-bottom: 30px;
            border-bottom: 1px solid #EFEFEF;

            p {
                font-family: $text;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }
        }

        &__list {
            padding-top: 25px;

            li {
                padding-bottom: 15px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 28px;
                color: #828282;
            }
        }


    }
}

.border {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #EFEFEF;
}

.contact {
    padding: 37px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__social {
        display: flex;
        gap: 20px;

        &__item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            border: 2px solid #F13C6E;
            transition: 0.3s;
        }

        &__item:hover {
            transform: scale(1.1);
            border-color: #C71585;
        }


    }

    &__feedbeck {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
}

.politic {
    padding: 25px 0;
    background: #EFEFEF;

    &__info {
        display: flex;
        justify-content: space-between;
        font-family: $text;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #828282;
    }
}